<div class="text-muted fs-5">
    Carts/Apex
</div>

<div class="bg   p-3">
    
    <div class="rounded ">
        <div>
            <p>Last Updates</p>
            <p class="text-muted">Commerical network</p>
        </div>
       <div class="mt-5 d-flex">
        <i class="fa-solid fa-circle dot"></i>
        <p>visits</p>
        <i class="fa-solid fa-circle dot2"></i>
        <p>Clicks</p>
        <i class="fa-solid fa-circle dot3"></i>
        <p>Sales</p>
       </div>
       <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>      
</div>