 .bg{
  background-color:white;
  line-height: .6;
  margin: 25px 0px;
  border-radius: 10px
 }

 .dot{
  font-size: 12px;
  margin: 0px 5px;
  color: #20c997;
 }

 .dot2{
  font-size: 12px;
  margin: 0px 5px;
  color: #28c76f;

 }

 .dot3{
  font-size: 12px;
  margin: 0px 5px;
  color: #00bad1;
 }