 

<div class="container mt-2 ">
    <app-header></app-header>
    
    <div class="d-flex flex-column d-flex card mt-3">
            <div class="linsHight">
                <p>Last Updates</p>
                <p class="text-muted">Commerical network</p>
            </div>
            <div class="mt-5 d-flex align-items-center gap-1">
              <i class="fa-solid fa-circle dot"></i>
              <p class="mb-0">visits</p>
              <i class="fa-solid fa-circle dot2"></i>
              <p class="mb-0">Clicks</p>
              <i class="fa-solid fa-circle dot3"></i>
              <p class="mb-0">Sales</p>
          </div>
          
          <div >
            <canvasjs-chart  [options]="chartOptions" [styles]="{width: '90%', height:'300px'}"></canvasjs-chart>    
          </div>
    </div>  
      
       
</div>