$light : #e9ecef;

.search-cus{
    background-color: white;
    min-width: auto;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 6px;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.no-border {
    border: none;
    outline: none;  
  }
  
  .no-border:focus {
    box-shadow: none;  
  }
  button:focus {
    outline: none;
    border: none;
  }
.input-group {
    max-width: 500px;
    width: 100%;
}

.input-group-text {
    border-right: 0;
}

.form-control {
    border-left: 0;
}

.badge {
    font-size: 0.75rem;
    padding: 0.25em 0.4em;
}
i{
    padding: 5px 8px;
}
.left-icon i:hover{
    border-radius: 50%; /* Makes the border circular */
    text-align: center; /* Center align text inside the input */
    background-color: $light
     
}