
<div class="container w-100 mt-2 ">
    <app-header></app-header>

    <div class="row mt-3 card ">
        <div class=" mt-2"> Defalut</div>
        <div class="text-muted mt-5"> Basic</div>

        <div class="container mt-2    ">
            <div class="row">
                <div class="d-flex col-xl-3  "> <i class="fa-solid fa-1 stp-icon selected-item"></i>
                    <div class="stp-det d-flex flex-column">
                        <h6>Account Detilse</h6>
                        <p class="text-muted fs-30">Setup Account Detilse </p>
                    </div>
                    <div class="d-flex arrow">
                        <i class="fa-solid fa-chevron-right  "></i>
                    </div>
                </div>
                <div class="d-flex col-xl-3"> <i class="fa-solid fa-2 stp-icon bg-light"></i>
                    <div class="stp-det d-flex flex-column">
                        <h6>Person Info</h6>
                        <p class="text-muted fs-30">Add Person Info </p>
                    </div>
                    <div class="d-flex arrow">
                        <i class="fa-solid fa-chevron-right  "></i>
                    </div>
                </div>
                <div class="d-flex col-xl-3"> <i class="fa-solid fa-3 stp-icon bg-light"></i>
                    <div class="stp-det d-flex flex-column">
                        <h6>Socail Link</h6>
                        <p class="text-muted fs-30">Add Socail Link </p>
                    </div>
                    <div class="d-flex arrow">
                        <i class="fa-solid fa-chevron-right  "></i>
                    </div>
                </div>
            </div>
            <hr class="bg-light color-ligh">



        </div>

        <div class="stp-det2 d-flex flex-column">
            <h6>Account Detilse</h6>
            <p class="text-muted fs-30">Setup Account Detilse </p>
        </div>
 
            <div class="row mt-2">
                <div class="col-xl-6 ">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Username</label>
                        <input type="text" class="form-control no-border no-border" id="exampleFormControlInput1" placeholder="Hossam">
                      </div>
                </div>
                <div class="col-xl-6 ">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email  </label>
                        <input type="email" class="form-control no-border no-border" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
            </div>
      

    </div>
    <div class="row mt-2">
        <div class="col-xl-6 ">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">PassWord</label>
                <input type="password" class="form-control no-border no-border" id="exampleFormControlInput1" placeholder=".........">
              </div>
        </div>
        <div class="col-xl-6 ">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ConfirmPassword  </label>
                <input type="password" class="form-control no-border no-border" id="exampleFormControlInput1" placeholder=".........">
              </div>
    </div>


</div>

<div class="d-grid gap-2 d-md-flex justify-content-between mt-3 mb-3">
    <button class="btn  bg-light border-0 me-md-2 " disabled type="button"><i class="fa-solid fa-arrow-left"></i> Previos</button>
    <button class="btn border-0 " type="button">Next <i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
