$light : #e9ecef;
$bg:rgba(102, 90, 236, 0.7);
.stp-icon{
    font-size: 15px;
    margin: 0px 8px;
   background-color: $light;
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.stp-det{ 
    margin: 0px 8px;
    line-height: .1;
    align-items: start;
     font-size: 15px;
    justify-content: flex-end;
    p{
        font-size: 10px;
    }
}
.stp-det2{ 
     
    line-height: .1;
    align-items: start;
     font-size: 15px;
    justify-content: flex-end;
    p{
        font-size: 10px;
    }
}
.arrow{
    margin: 0px 8px;
    display: flex;
    align-items: center;
 
}
.btn{
    background-color: $bg;
}


.selected-item{
    background-color: $bg;
}
 .card{

    background-clip: padding-box;
    box-shadow: 0 .1875rem .75rem 0 rgba(47, 43, 61, .14);
    border-color: #e6e6e8;
    border-radius: 0.375rem;
    margin: 1px;
 }

 
 .no-border {
    border: 1px solid rgba(47, 43, 61, .14);
    outline: none;  
  }
  
  .no-border:focus {
    box-shadow: none;  
  }